<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define SpreadWorkDesktop_TargetDir=$(var.SpreadWorkDesktop.TargetDir)?>
	<Product Id="*" Name="SpreadWork" Language="1033" Version="1.0.0.0" Manufacturer="IES Naranco" UpgradeCode="c6f218a7-349e-43e4-bace-f801bc74951a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SpreadWorkInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SpreadWork" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="SpreadWorkDesktop.exe" Guid="34761165-8154-4074-b987-f42b56d9f068">
			  <File Id="SpreadWorkDesktop.exe" Name="SpreadWorkDesktop.exe" Source="$(var.SpreadWorkDesktop_TargetDir)SpreadWorkDesktop.exe" />
			</Component>
			<Component Id="SpreadWorkDesktop.exe.config" Guid="6250fbf7-ecfb-414a-97f4-6a9095110610">
			  <File Id="SpreadWorkDesktop.exe.config" Name="SpreadWorkDesktop.exe.config" Source="$(var.SpreadWorkDesktop_TargetDir)SpreadWorkDesktop.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
